* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  box-sizing: border-box;
}
main {
  padding: 100px;
  background: #1E1D2B;
  min-height: 100vh;
  box-sizing: border-box;
}